<title
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="title"
        th:text="#{create_office}">
</title>

<th:block
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="content">
    <!--/*@thymesVar id="office" type="org.fekz115.task8.domain.Office"*/-->
    <form th:object="${office}" method="post" th:action="@{/office}">
        <input type="hidden" th:field="*{id}">
        <label th:text="#{address}" for="address"></label>
        <input type="text" id="address" th:field="*{address}">
        <label th:text="#{phone_number}" for="phone"></label>
        <input type="text" id="phone" th:field="*{phone}">
        <label th:text="#{city}" for="city"></label>
        <select id="city" name="cityId">
            <!--/*@thymesVar id="cities" type="java.lang.Iterable<org.fekz115.task8.domain.City>"*/-->
            <option th:each="city : ${cities}" th:value="${city.getId()}" th:text="${city.getName()}" th:selected="${office.getCity()?.getId()} == ${city.getId()}"></option>
        </select>
        <input type="submit" th:value="#{accept}">
    </form>
</th:block>
