<title
        xmlns:th="http://www.thymeleaf.org"
        th:text="${product.getName()}"
        th:fragment="title">
    <!--/*@thymesVar id="product" type="org.fekz115.task8.domain.Product"*/-->
</title>

<th:block
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="content">
    <!--/*@thymesVar id="product" type="org.fekz115.task8.domain.Product"*/-->
    <h2 th:text="${product.getCategory().getName()}"></h2>
    <h2 th:text="${product.getName()}"></h2>
    <h3 th:text="${product.getCost()} + '$'"></h3>
    <h3 th:text="${product.getDescription()}"></h3>
    <div>
        <img th:each="photo : ${product.getPhotos()}" th:src="@{/images/{path}(path=${photo.getPath()})}">
    </div>
    <table>
        <thead>
            <tr>
                <th th:text="#{specification}"></th>
                <th th:text="#{value}"></th>
                <th th:text="#{units}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="specification : ${product.getSpecifications()}">
                <td th:text="${specification.getSpecification().getName()}"></td>
                <td th:text="${specification.getValue()}"></td>
                <td th:text="${specification.getSpecification().getUnits()}"></td>
            </tr>
        </tbody>
    </table>
</th:block>