<title
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="title"
        th:text="#{registration}">
</title>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <form method="post" th:action="@{/registration}">
        <label for="login" th:text="#{login}"></label>
        <input type="text" name="login" id="login">
        <label for="password" th:text="#{password}"></label>
        <input type="password" id="password" name="password">
        <label for="email" th:text="#{email}"></label>
        <input type="email" id="email" name="email">
        <label for="phone" th:text="#{phone_number}"></label>
        <input type="text" id="phone" name="phoneNumber">
        <input type="submit" th:value="#{accept}">
    </form>
</th:block>