<title xmlns:th="http://www.thymeleaf.org" th:text="#{create_city}" th:fragment="title">
</title>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <!--/*@thymesVar id="city" type="org.fekz115.task8.domain.City"*/-->
    <form method="post" th:object="${city}" th:action="@{/city}" th:class="formAddorEddit">
        <input type="hidden" th:field="*{id}">
        <div th:class="textRegistration">Edit Cities</div>

        <div class="input-field">
            <input class="inputAuth" type="text" id="name" th:field="*{name}"/>
            <label th:text="#{city_name}" for="name"></label>
        </div>

        <div class="input-field">
            <input type="text" id="latitude" name="latitude" th:value="${city.getCoords()?.getLatitude()}">
            <label th:text="#{latitude}" for="latitude"></label>
        </div>

        <div class="input-field">
            <input type="text" id="longitude" name="longitude" th:value="${city.getCoords()?.getLongitude()}">
            <label th:text="#{longitude}" for="longitude"></label>
        </div>

        <button type="submit" th:text="#{accept}" class="btn waves-effect waves-teal ButtonAuth"></button>
    </form>
</th:block>
