<title xmlns:th="http://www.thymeleaf.org" th:fragment="title" th:text="#{products}">
</title>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <!--/*@thymesVar id="category" type="org.fekz115.task8.domain.Category"*/-->
    <!--/*@thymesVar id="product" type="org.fekz115.task8.domain.Product"*/-->
    <form th:class="formAddorEddit" th:object="${product}" method="post" th:action="@{/product/create}" enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}">
        <div th:class="textRegistration" th:text="#{edit} + ' ' + ${category.getName()}"></div>
        <input type="hidden" name="categoryId" th:value="${category.getId()}">

        <input th:class="inputAuth" type="text" id="name" th:field="*{name}" th:placeholder="#{product_name}">

        <input type="file" name="images" id="photos" accept="image/*" multiple>

        <input th:class="inputAuth" type="text" id="description" th:field="*{description}" th:placeholder="#{description}">

        <input th:class="inputAuth" type="number" th:field="*{cost}" id="cost" th:placeholder="#{cost}">

        <div th:each="specification : ${category.getSpecifications()}">
            <label th:text="${specification.getName()}" th:for="${specification.getId()}"></label>
            <input type="text" th:name="${specification.getId()}" th:value="${T(org.fekz115.task8.util.Utils).getSpecificationValue(product, specification)}">
            <span th:text="${specification.getUnits()}"></span>
        </div>

        <input type="submit" th:value="#{accept}" th:class="ButtonAuth">
    </form>
</th:block>