<title
        xmlns:th="http://www.thymeleaf.org"
        th:text="#{create_specification}"
        th:fragment="title">
</title>

<th:block
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="content">
    <link rel="stylesheet" th:href="@{/styles/enumerableSpecification.css}">
    <!--/*@thymesVar id="specification" type="org.fekz115.task8.domain.Specification"*/-->
    <form th:object="${specification}" method="post" th:action="@{/enumerableSpecification}"
          class="enumerableSpecificationRoot formAddorEddit">
        <input type="hidden" th:field="*{id}">

        <div class="textRegistration">Edit Specifications</div>

        <div class="input-field">
            <input type="text" id="name" th:field="*{name}"/>
            <label for="name" th:text="#{specification_name}"></label>
        </div>

        <div class="input-field">
            <input type="text" id="description" th:field="*{description}"/>
            <label for="description" th:text="#{description}"></label>
        </div>

        <p class="formParagraph">Values</p>
        <div id="enumerableValues">
            <div th:each="value,valueStat : ${specification.getEnumerableValues()}"
                 th:id="${'inputContainer-' + valueStat.index}"
                 class="input-field inputContainer"
            >
                <input type="text" th:name="${'enumerableValue-' + value.getId()}" th:value="${value.getValue()}">
                <div class="removeButton waves-effect waves-teal btn-flat"
                     th:onclick="|removeInput(${valueStat.index})|"
                >
                    <i class="material-icons">close</i>
                </div>
            </div>
        </div>
        <div class="waves-effect waves-teal btn-flat addButton" onclick="addInput()">
            <i class="material-icons">add</i>
            Add value
        </div>

        <button type="submit" th:text="#{accept}" class="btn waves-effect waves-teal ButtonAuth"></button>
    </form>

    <script type="text/javascript">
        let currentIndex = document.getElementById("enumerableValues").children.length;

        function addInput() {
            const container = document.getElementById("enumerableValues");
            const newDiv = document.createElement("div");

            newDiv.innerHTML = `
                <input type="text" name="newEnumerableValue-${currentIndex}"/>
                <div
                    class="removeButton waves-effect waves-teal btn-flat"
                    onclick="removeInput(${currentIndex})"
                >
                    <i class="material-icons">close</i>
                </div>
            `;
            newDiv.setAttribute("id", `inputContainer-${currentIndex}`);
            newDiv.setAttribute("class", "input-field inputContainer");

            container.appendChild(newDiv);

            currentIndex += 1;
        }

        function removeInput(index) {
            const container = document.getElementById("enumerableValues");
            const element = document.getElementById(`inputContainer-${index}`);
            container.removeChild(element);
        }
    </script>
</th:block>
