<title xmlns:th="http://www.thymeleaf.org" th:fragment="title" th:text="#{signin}">
</title>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <form th:action="@{/login}" method="post" th:class="formAddorEddit">
        <div th:class="textRegistration" th:text="#{signin}"></div>

        <div class="input-field">
            <input type="text" name="username" id="login" class="inputAuth"/>
            <label for="login" th:text="#{login}"></label>
        </div>

        <div class="input-field">
            <input type="password" name="password" id="password" class="inputAuth"/>
            <label for="password" th:text="#{password}"></label>
        </div>

        <button type="submit" th:text="#{signin}" class="btn waves-effect waves-teal ButtonAuth"></button>
    </form>
</th:block>
