<title xmlns:th="http://www.thymeleaf.org" th:text="${product.getName()}" th:fragment="title">
    <!--/*@thymesVar id="product" type="org.fekz115.task8.domain.Product"*/-->
</title>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <link rel="stylesheet" th:href="@{/styles/product.css}">
    <!--/*@thymesVar id="product" type="org.fekz115.task8.domain.Product"*/-->

    <h2 th:id="categoryNameh2" th:text="${product.getCategory().getName()}"></h2>
    <h2 th:id="productNameh2" th:text="${product.getName()}"></h2>
    <table id="categoryProduct">
        <tr>
            <td>
                <h3 th:text="${product.getDescription()}"></h3>
            </td>
        </tr>
    </table>
    <div class="manyImageGalery">

        <img th:class="sizeImage" th:each="photo : ${product.getPhotos()}"
             th:src="@{/images/{path}(path=${photo.getPath()})}">
    </div>
    <div class="specificationsBlock">
        <div class="specificationItem" th:each="specification : ${product.getSpecifications()}">
            <p th:text="${specification.getSpecification().getName() + ', ' + specification.getSpecification().getUnits()}"></p>
            <p th:text="${specification.getValue()}"></p>
        </div>
        <div class="specificationItem" th:each="specification : ${product.getEnumerableSpecifications()}">
            <p th:text="${specification.getEnumerableSpecification().getName()}"></p>
            <p th:text="${specification.getEnumerableValue().getValue()}"></p>
        </div>
    </div>
</th:block>
