<title xmlns:th="http://www.thymeleaf.org" th:text="${category.getName()}" th:fragment="title">
</title>
<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          th:fragment="content">
    <th:block th:with="products = ${category.getProducts()}" th:insert="fragments/pages/products :: productList">

    </th:block>

    <div th:class="centertDivCreateCategory" sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/product/create/{categoryId}(categoryId=${category.getId()})}">Create Product</a>
    </div>

</th:block>

<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="productList">
    <table th:class="tableOfProducts">
        <tr>
            <th th:text="#{product_name}"></th>
            <th th:text="#{price}"></th>
            <th:block sec:authorize="hasAuthority('ADMIN')">
                <th></th>
                <th></th>
            </th:block>
        </tr>
        <tr th:each="product : ${products}">
            <td>
                <a th:href="@{/product/{productId}(productId=${product.getId()})}" th:text="${product.getName()}"></a>
            </td>
            <td th:text="${product.getPrice()}"></td>
            <th:block sec:authorize="hasAuthority('ADMIN')">
                <td th:class="aTDremoveAddStyle">
                    <a th:class="aAddRemoveStyle" th:href="@{/product/edit/{id}(id=${product.getId()})}"
                       th:text="#{edit}"></a>
                </td>
                <td th:class="aTDremoveAddStyle">
                    <a th:class="aAddRemoveStyle" th:href="@{/product/remove/{id}(id=${product.getId()})}"
                       th:text="#{remove}"></a>
                </td>
            </th:block>
        </tr>
    </table>
</div>
