<title xmlns:th="http://www.thymeleaf.org" th:text="${product.getName()}" th:fragment="title">
    <!--/*@thymesVar id="product" type="org.fekz115.task8.domain.Product"*/-->
</title>

<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          th:fragment="content">
    <link rel="stylesheet" th:href="@{/styles/product.css}">

    <div id="nonEmptyStoresInfo" style="display: none" th:text="${nonEmptyStoresInfo}"></div>

    <div id="productStoreModal" class="modal">
        <div class="modal-content">
            <ul class="collection infoBox">
                <li
                        th:each="productStore: ${nonEmptyStores}"
                        class="collection-item storeAddress"
                        th:data-id="${productStore.getStore().getAddress()}"
                        onclick="selectPlacemark(this.getAttribute('data-id'))"
                        th:text="${productStore.getStore().getAddress()}"
                ></li>
            </ul>
            <div id="productStoreMap"></div>
        </div>
    </div>

    <script type="text/javascript">
        ymaps.ready(init);

        const nonEmptyStoresInfo = JSON.parse(document.getElementById("nonEmptyStoresInfo").innerText);
        let map;

        function selectPlacemark(storeAddress) {
            const store = nonEmptyStoresInfo.find(store => store.address === storeAddress);
            map.setCenter([store.latitude, store.longitude], 18);
        }

        function init() {
            map = new ymaps.Map('productStoreMap', {
                center: [53.31, 28.02],
                zoom: 6,
                controls: ['zoomControl']
            });

            nonEmptyStoresInfo.forEach(store => {
                const placemark = new ymaps.Placemark([store.latitude, store.longitude], {}, {
                    preset: `islands#blueDotIcon`,
                });
                map.geoObjects.add(placemark);
            });
        }
    </script>

    <div class="showProductBlock">
        <div class="productTopBlock">
            <div class="leftBlock">
                <div class="carousel">
                    <a
                            th:each="photo : ${product.getPhotos()}"
                            class="carousel-item"
                            th:href="@{/images/{path}(path=${photo.getPath()})}"
                    >
                        <img th:src="@{/images/{path}(path=${photo.getPath()})}"/>
                    </a>
                </div>
                <div class="addToCartBlock"
                     sec:authorize="hasAuthority('USER') && !hasAnyAuthority('ADMIN', 'MANAGER')">
                    <a
                            class="btn waves-effect waves-teal addToCartButton"
                            th:if="${!isInCart}"
                            th:disabled="${nonEmptyStores.size() <= 0}"
                            th:href="@{/product/{productId}/cart(productId=${product.getId()})}"
                    >
                        <i class="material-icons">add_shopping_cart</i>
                        Add to cart
                    </a>
                    <button
                            class="btn waves-effect waves-teal addToCartButton"
                            th:if="${isInCart}"
                            disabled
                    >
                        Already in cart
                    </button>
                    <button
                            class="btn-flat waves-effect waves-teal modal-trigger butStoreMap"
                            data-target="productStoreModal"
                            th:if="${nonEmptyStores.size() > 0}"
                    >
                        <i class="material-icons">location_on</i>
                        In stock
                    </button>
                    <button
                            class="btn-flat waves-effect waves-teal butStoreMap"
                            th:if="${nonEmptyStores.size() <= 0}"
                            disabled
                    >
                        Not available
                    </button>
                </div>
            </div>
            <div class="mainInfoBlock">
                <h2 id="productNameh2" th:text="${product.getName()}"></h2>
                <p class="productPrice" th:text="${'$' + product.getPrice()}"></p>
                <p class="productDescription" th:text="${product.getDescription()}"></p>

                <div class="specificationsBlock">
                    <div class="specificationItem" th:each="specification : ${product.getEnumerableSpecifications()}">
                        <p th:text="${specification.getEnumerableSpecification().getName()}"></p>
                        <p th:text="${specification.getEnumerableValue().getValue()}"></p>
                    </div>
                    <div class="specificationItem" th:each="specification : ${product.getSpecifications()}">
                        <p th:text="${specification.getSpecification().getName()}"></p>
                        <p th:text="${specification.getValue()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('.carousel', {
                indicators: true,
            });
            M.Carousel.init(elems);
        });
    </script>
</th:block>
