<title xmlns:th="http://www.thymeleaf.org" th:fragment="title" th:text="#{registration}">
</title>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <form method="post" th:action="@{/registration}" class="formAddorEddit">
        <div th:class="textRegistration" th:text="#{registration}"></div>

        <div class="input-field">
            <input type="text" name="login" id="login" class="inputAuth"/>
            <label for="login" th:text="#{login}"></label>
        </div>

        <div class="input-field">
            <input type="password" id="password" name="password" class="inputAuth"/>
            <label for="password" th:text="#{password}"></label>
        </div>

        <div class="input-field">
            <input type="email" id="email" name="email" class="inputAuth">
            <label for="email" th:text="#{email}"></label>
        </div>

        <button type="submit" th:text="#{accept}" class="btn waves-effect waves-teal ButtonAuth"></button>
    </form>
</th:block>
