.enumerableSpecificationRoot {
}

.enumerableSpecificationRoot #enumerableValues {
    display: flex;
    flex-direction: column;
}

.enumerableSpecificationRoot #enumerableValues .inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.enumerableSpecificationRoot #enumerableValues .inputContainer input {
    width: 100%;
}
